@import url('https://fonts.googleapis.com/css?family=Aldrich');

* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    font-family: 'Aldrich', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

.home {
    margin-top: 20px;
}
.circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

h1 {
    font-weight: bold;
    color: white;
    margin: 0;
}

.sign-header {
    color: #4CBBA0;
    font-size: 30px;
}

.overlay-header {
    size: 30px;
    text-align: left;
}

h2 {
    text-align: left;
}

p {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Aldrich', sans-serif;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
    font-family: 'Aldrich', sans-serif;

}

a {
    color: #333;
    font-size: 14px;
    font-family: 'Aldrich', sans-serif;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #4CBBA0;
    background-color: #4CBBA0;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Aldrich', sans-serif;

    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

input::placeholder {
    color: #A39C9C;
}

input:focus {
    outline: none;
    border-color: #4CBBA0;
    box-shadow: 0 0 10px #4CBBA0;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 560px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    position: center;
    width: 50%;
    z-index: 2;

}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}


.panel {
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #4CBBA0;
    background-size: cover;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.brand-header {
    color: #4CBBA0;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
}

.brand-header2 {
    color: white;
    font-weight: bold;
    font-size: 28px;

}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: left;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

